[2012-10-16 12:49] thewtex opened #1 "Document how to upload binary data."

[2012-10-16 12:50] thewtex opened #2 "Python versions of almost all examples."

[2012-10-16 12:50] thewtex opened #3 "Build in parallel."
Make sure the parallel build works correctly.

[2012-10-16 12:51] thewtex opened #4 "Mark tarball created as completed."
Do not require all the tarballs to be created with ever "make".  Perhaps with timestamp files?

[2012-10-16 12:52] thewtex opened #5 "New dashboard location."
my.cdash.org or open.cdash.org.

[2012-10-16 12:53] thewtex opened #6 "Gerrit project account."
Make project on review.source.kitware.com.

[2012-10-16 12:56] thewtex opened #7 "Web-based patch submission system."
Integration of vcwebedit.

[2012-10-16 13:00] thewtex opened #8 "Integration of itk.js / itk-vtk-viewer"
Create standard functions for displaying 2D and 3D datasets.

https://github.com/Kitware/itk-vtk-viewer

[2012-10-16 22:27] #1 closed, assigned to thewtex

[2012-10-17 06:31] arnaudgelas opened #9 "Get rid of the dropbox account and references"
$ git grep dropbox
CMake/DownloadDoxygen.cmake:file( DOWNLOAD http://dl.dropbox.com/u/15135983/itk-doxygen.tar.bz2
CMake/DownloadDoxygenTAG.cmake:file( DOWNLOAD http://dl.dropbox.com/u/15135983/InsightDoxygen.tag.tar.bz2
CMake/ITKExamplesExternalData.cmake:  # Data published on dropbox
CMake/ITKExamplesExternalData.cmake:  "http://dl.dropbox.com/u/61255957/%(algo)/%(hash)"

[2012-10-17 19:25] #9 closed, assigned to thewtex

[2012-10-27 03:50] #5 closed, assigned to thewtex

[2012-12-04 03:52] #6 closed, assigned to thewtex

[2013-01-03 07:19] arnaudgelas opened #10 "git gerrit-merge alias"
It would be useful if there was 1 git gerrit-merge alias

[2013-01-03 07:31] arnaudgelas opened #11 "git pullall failure"
$ git pullall
You asked me to pull without telling me which branch you
want to rebase against, and 'branch.master.merge' in
your configuration file does not tell me, either. Please
specify which branch you want to use on the command line and
try again (e.g. 'git pull <repository> <refspec>').
See git-pull(1) for details.

If you often rebase against the same branch, you may want to
use something l

[2013-01-03 15:06] #10 closed, assigned to nobody

[2013-01-03 16:27] #11 closed, assigned to nobody

[2013-01-16 07:10] arnaudgelas opened #12 "Make use of WhatModulesITK.py when creating a new example"
There is kind of duplicates in ITK and ITKExamples on how to find the module of a given class. It would make sense to make use and adapt WhatModulesITK.py here.

It would also simplify the call to the python script to generate a new example.

[2013-01-16 12:41] arnaudgelas opened #13 "ITK version should be updated"
Right now it is linked to ITK v4.3.0, and it should be linked to the master version, i.e. 4.4.0

Welcome to the Insight Toolkit Examples!

This is the ITK Examples v4.3.0 documentation, last updated Jan 15, 2013.

[2013-02-22 11:31] DanielChappuis opened #14 "Example name is too long for Visual Studio 10"
CMake Warning in src/Examples/Registration/Common/PerformMultiModalityRegistrationWithMutualInformation/CMakeLists.txt:
  The binary and/or source directory paths may be too long to generate Visual
  Studio 10 files for this project.  Consider choosing shorter directory
  names to build this project with Visual Studio 10.  A more detailed
  explanation follows.

  There is a bug in the VS 10 IDE t

[2013-07-22 06:47] #13 closed, assigned to nobody

[2013-07-22 19:46] #3 closed, assigned to nobody

[2013-07-31 01:11] #14 closed, assigned to nobody

[2013-08-13 18:35] arnaudgelas opened #15 "Update build/index.rst on how to build the sphinx documentation"
- html
- pdf

[2013-08-15 08:26] arnaudgelas opened #16 "Link broken for ConvertAnITKGrayScaleImageToCVMat example"
http://public.kitware.com/pub/itk/Examples/src/Video/BridgeOpenCV/ConvertAnITKGrayScaleImageToCVMat/ConvertAnITKGrayScaleImageToCVMat.zip

[2013-08-15 08:29] arnaudgelas opened #17 "Each tarball should be self contained"
It should be possible to run sphinx on each tarball independently. For users who are not that familiar with sphinx, it would be great if they can fix the documentation of a single example (whenever there will be a web interface, it would be also useful I think to get such a thing).

[2013-08-15 08:50] arnaudgelas opened #18 "add button to export example to gist github"
see http://defunkt.io/gist/

[2014-02-27 07:59] arnaudgelas opened #19 "upgrade gitstats"
The version of gitstats we used is a fork of mine to be able to generate rst report. The fork is quite outdated with respect to upstream gitstats.
A first step would be to rebase these changes to latest gitstats version, then ultimately do a pull request to the upstream gitstats.

[2014-02-27 08:52] arnaudgelas opened #20 "breathe does not show formula"
The specific environment formula fails when using sphinx.ext.pngmath so more work is needed.

see http://michaeljones.github.io/breathe/latexmath.html

@thewtex Was there any reason to use pngmath instead of mathjax?

[2014-05-23 16:30] thewtex opened #21 "CreateNewExample does not work with Python 3.3"

[2014-05-23 16:30] thewtex opened #22 "CreateNewExample should automatically use the ITK source tree used for the build"

[2014-07-22 03:07] thewtex opened #23 "Superbuild does not pass Sphinx output options."
Does not pass

SPHINX_HTML_OUTPUT:BOOL=ON
SPHINX_LATEX_OUTPUT:BOOL=ON
SPHINX_EPUB_OUTPUT:BOOL=ON

-> we are not getting these outputs on the Download page.

[2014-07-23 12:52] thewtex opened #24 "\breathe handle class descriptions with \image"
See

  http://review.source.kitware.com/#/c/16353/

[2016-01-22 15:59] thewtex commented on #16
The dashboard build that generates the output now builds with `ITKExamples_USE_OpenCV:BOOL=ON`, and the file is available.

[2016-01-22 15:59] #16 closed

[2017-10-07 12:17] jhlegarreta opened #25 "Invalid links to pictures in UploadBinaryData.rst"
The links to the pictures in [`UploadBinaryData.rst`](ITKExamples/Documentation/Contribute/UploadBinaryData.rst) are invalid. These pictures do not exist.

Do we intend to upload them, or we'd rather remove the links?

[2017-10-09 14:26] thewtex opened #28 "Update Git clone URLs to point to GitHub"

[2018-02-26 05:22] thewtex opened #43 "Migrate Git Client Hooks for GitHub"
:xref: https://github.com/InsightSoftwareConsortium/ITKSoftwareGuide/pull/49

[2018-03-01 22:54] #43 closed

[2018-03-25 17:13] kmader opened #48 "Watershed with Distancemap Example"
Watershed with distance maps are useful for segmenting lungs, foams, and other cellular materials. I have a Kaggle Kernel that does it with ITK but it would be nice to have pure ITK demos with associated C++ and Python implementations
![image](https://user-images.githubusercontent.com/116120/37877827-9b697fb0-3060-11e8-8ef8-3d220d0ff29c.png)

[2018-03-27 20:00] jhlegarreta commented on #48
@kmader This is awesome.

I'd be glad to help in adding these to the existing examples. I grant that we are missing a `OCNTRIBUTING.md` file, but you can get some inspiration from the [ITK](https://github.com/InsightSoftwareConsortium/ITK/blob/master/CONTRIBUTING.md) and [ITKSoftwareGuide](https://github.com/InsightSoftwareConsortium/ITKSoftwareGuide/blob/master/CONTRIBUTING.md) contributing proce

[2018-05-08 03:32] #28 closed

[2018-05-08 05:10] thewtex commented on #25
@jhlegarreta Checking on this page, all links and pictures seem valid:

  https://itk.org/ITKExamples/Documentation/Contribute/UploadBinaryData.html

Can we close this issue?

[2018-05-08 06:44] jhlegarreta commented on #25
Yes Matt. Everything looks OK. Closing the issue.

[2018-05-08 06:44] #25 closed

[2018-09-21 20:29] thewtex opened #72 "Re-enable Python tests on macOS"
Odd test failures are observed that could not be reproduced locally.

They may be related to path length issues or CMake test output file specification.

Example test output:

[code]

and the test command line:

[code]

After fixing this issue, re-enable the Python builds by setting `ITKExamples_USE_WRAP_PYTHON=1` in `azure-pipelines.yml`.

[2018-09-26 19:34] thewtex commented on #72
This was addresses in #70

[2018-09-26 19:34] #72 closed

[2018-09-26 19:35] thewtex opened #75 "Re-enable Otsu baseline test after ITK 5.0b02 release"
This was disabled in #70 because of a difference in behavior between C++ and Python. Re-enable after the ITK 5.0 Beta 2 Python packages have been released.

[2018-10-28 18:32] jhlegarreta commented on #48
After taking some time to think about this, I think an solution is to split the notebook code in three pieces:
- One taking the input image and providing the distance map, watershed and clean segmentation outputs, which will be the usual `Code.py` file.
- One taking the outputs of the segmentation and displaying and saving screenshots of the process with subplots, as in the kaggle example by Kevin

[2018-11-04 18:44] jhlegarreta commented on #48
As I am working on this, I have a comment about the code in the kaggle notebook: although there is a section that is aimed at removing small bubbles, I'd say that these are not effectively removed, since the cell 10 line
[code]
`cleaned_img` is local to the loop and never gets used. So I'd say that the loop is just doing a re-labelling, right? @kmader may be there is some cell missing?

[2018-11-04 18:52] kmader commented on #48
Good catch, that looks like a bug!

On Sun, Nov 4, 2018, 20:44 Jon Haitz Legarreta Gorroño <
notifications@github.com wrote:

[2018-12-20 20:44] thewtex opened #85 "Create an example for PyImageFilter"
https://github.com/InsightSoftwareConsortium/ITK/blob/master/Wrapping/Generators/Python/PyUtils/itkPyImageFilter.h

CC: @fbudin69500

[2019-03-15 11:47] hjmjohnson opened #93 "Modernize documentation"
- [x] Update ITK version to 5.0.0 now that C++11 is required, and examples are compiling against ITK 5.0.0
- [x] Remove reference to  https://github.com/gofigure2/QGoImageCompare which does not compile.

[2019-03-15 12:03] hjmjohnson opened #94 "Point documentation to github resources"
All repos listed at https://itk.org/gitweb should be syncronized with github, removed, or at least have a major banner message indicating that it is out of date.

Update sphinx documentation
[code]

[2019-05-10 15:24] thewtex opened #99 "Update ITK Superbuild version to 5.0 RC 2"

[2019-05-11 20:47] jhlegarreta commented on #75
ITK 5.0 Beta 2 was release a while ago, and releases have been rolled ever since to refine towards a more robust ITK 5.0 released. @thewtex should we re-enabled the Otsu baseline tests? If yes, I can submit a path set.

[2019-05-13 01:02] #75 closed

[2019-05-20 16:50] fbudin69500 commented on #99
I was able to reproduce this issue with the PR #103 and also by installing ITK v5.0rc2 Python packages, but when I use the latest version of ITK built on my computer, the test passes. Hopefuily the issue that arises here has been independently addressed in ITK. We can wait until there is a new ITK Python package updated on Github to make sure that it is actually fixed.

[2019-05-24 19:21] mseng10 opened #106 "Wrong python interpreter despite specifying correct path for executable"
I am working in a python3 venv and attempting to configure Cmake to build documentation for ITK Examples. During configuration, I set the `python_executable` to the path of the virtual environment. When configured, I get the following message:

`CMake Error at src/CMakeLists.txt:29 (message):`
`Building the documentation requires Python >= 2.7`

The Python version is up to date and when the Python

[2019-05-24 19:55] thewtex commented on #106
@mseng10 the values of the `PYTHON_EXECUTABLE` setting can be checked in the *CMakeCache.txt* file of the build directory -- does this have the correct value?

[2019-05-24 20:05] mseng10 commented on #106
@thewtex Yes, the value is correct.

[2019-05-28 21:15] #99 closed

[2019-05-29 16:39] mseng10 commented on #106
Error fixed with recent merge. Closing Issue.

[2019-05-29 16:39] #106 closed

[2019-06-10 14:55] dzenanz opened #110 "Update CI to include VTK"
Requirement introduced in #109.

[2019-06-21 14:13] dzenanz opened #113 "Update MultiThreadedImageFilter"
Update [MultiThreadedImageFilter](https://github.com/InsightSoftwareConsortium/ITKExamples/blob/master/src/Developer/MultiThreadedImageFilter.h) and [OilPaintingImageFilter](https://github.com/InsightSoftwareConsortium/ITKExamples/blob/master/src/Developer/itkOilPaintingImageFilter.h) to demonstrate the use of `DynamicThreadedGenerateData`.

[2019-06-28 02:43] jhlegarreta opened #116 "Conform to C++ style guidelines"
It looks like the C++ examples that were recently ported from the `WikiExamples` (PRs #109 and #112) do not conform to the C++ style (flow control statement bracket indentation, two white space indentation for code, etc.), e.g.
[CreateGaussianKernel](https://github.com/InsightSoftwareConsortium/ITKExamples/blob/master/src/Core/Common/CreateGaussianKernel/Code.cxx)
or
[ResamleDICOMSeries](https://g

[2019-06-28 02:46] jhlegarreta commented on #116
@mseng10 @hjmjohnson the effort was huge, so thanks. This will be hopefully fixed at some point.

[2019-06-29 01:40] jhlegarreta commented on #21
Definitely #101 was untested for this.

[2019-06-29 01:41] jhlegarreta commented on #22
Definitely #101 did not address this. We need to see if we manage to address it in #120.

[2019-06-29 02:30] thewtex opened #121 "VectorImage Python example"
Transferred from https://github.com/InsightSoftwareConsortium/ITK/issues/548 :

### Description

An example of how to read and write an Image with an unknown number of Components will be great. The VectorImage is wrapped in itk python and it works great but there is no usage example.

### Expected behavior

An example at the ITKExamples would be great.

### Actual behavior

There is no example of

[2019-06-30 18:31] jhlegarreta opened #122 "Fix the `WriteANewExample` documentation section references"
The section references in the [WriteANewExample.rst](https://github.com/InsightSoftwareConsortium/ITKExamples/blob/master/Documentation/Contribute/WriteANewExample.rst) contributing documentation file seem not to be correctly built/do not point to the desired anchor and are not correctly rendered. e.g.
[code]
points to `https://github.com/InsightSoftwareConsortium/ITKExamples/blob/master/Documenta

[2019-09-20 23:36] mseng10 opened #131 "Incomplete python wrapping of enum class objects"
### Description

In the most recent set of failing ITKExamples tests, #130, the listed tests are unsolvable unless changed from the source. In the latest release of the ITKPythonPackage 5.1b.1 errors occur when attempting to access python wrapped enumerations.

The issue arises because some enumerations are no longer wrapped after the
#1061 pull request (In ITK). In #1061, they were changed from '

[2019-09-27 04:28] hina-shah opened #136 "Cookiecutter new example creation missing some attributes"
While creating a new example using cookiecutter
`python3 -m cookiecutter /path/to/src/ITKEx/Utilities/CookieCutter`, it gives the following error:
`Unable to render variable 'download_url'
Error message: 'dict object' has no attribute 'group_name'`

Additionally, the documentation needs to be updated to reflect deprecated `CreateNewExample.py` script.

[2019-09-27 13:02] jhlegarreta commented on #136
@hina-shah thanks for the issue report !

Yes, you are right, and I am the one to blame on for this. Following a private email thread early May with @thewtex @dzenanz @phcerdan @fbudin69500 and @hjmjohnson about the tasks concerning the ITK Examples, it was decided that using `cookiecuter` would ease the process of creating new examples.

I did a first effort in PR #101, but the process turned out

[2019-09-27 15:30] hina-shah commented on #136
Ah I see. I looked at the issues list but missed out on checking the PR's. Thanks for clarification! I think this issue does not make sense in that case. I'll close it, and see if I can work with a pre-commit.

[2019-09-27 15:30] #136 closed

[2019-09-30 16:10] mseng10 opened #138 "ApplyAColormapToAnImageTestPython failing test"
This issue is derived from #131 to keep track of indivial examples failing tests.

The following tests fail with ITK's latest release:

- ApplyAColormapToAnImageTestPython

- ApplyAColormapToAnImageTestBaselineComparePython

The issue arrises on line 41 of src/Filtering/Colormap/ApplyAColormapToAnImage when the rbfilter object attempts to initialize its enumeration value. Due to the recent transit

[2019-09-30 16:10] mseng10 opened #139 "SegmentWithWatershedImageFilterTestPython1 failing test"
This issue is derived from #131 to keep track of indivial examples failing tests.

The following tests fail with ITK's latest release:

- SegmentWithWatershedImageFilterTest01Python

- SegmentWithWatershedImageFilterTest01BaselineComparisonPython

The issue arrises on line 76 of src/Segmentation/Watersheds/SegmentWithWatershedImageFilter when the colormapImageFilter object attempts initialize its

[2019-09-30 16:10] mseng10 opened #140 "SegmentWithWatershedImageFilterTestPython2 failing test"
This issue is derived from #131 to keep track of indivial examples failing tests.

The following tests fail with ITK's latest release:

- SegmentWithWatershedImageFilterTest02Python

- SegmentWithWatershedImageFilterTest02BaselineComparisonPython

The issue arrises on line 76 of src/Segmentation/Watersheds/SegmentWithWatershedImageFilter when the colormapImageFilter object attempts to initialize i

[2019-09-30 16:10] mseng10 opened #141 "SegmentWithWatershedImageFilterTestPython3 failing test"
This issue is derived from #131 to keep track of indivial examples failing tests.

The following tests fail with ITK's latest release:

- SegmentWithWatershedImageFilterTest03Python

- SegmentWithWatershedImageFilterTest03BaselineComparisonPython

The issue arrises on line 76 of src/Segmentation/Watersheds/SegmentWithWatershedImageFilter when the colormapImageFilter object attempts to initialize i

[2019-09-30 16:10] mseng10 opened #142 "SegmentWithWatershedImageFilterTestPython4 failing test"
This issue is derived from #131 to keep track of indivial examples failing tests.

The following tests fail with ITK's latest release:

- SegmentWithWatershedImageFilterTest04Python

- SegmentWithWatershedImageFilterTest04BaselineComparisonPython

The issue arrises on line 76 of src/Segmentation/Watersheds/SegmentWithWatershedImageFilter when the colormapImageFilter object attempts to initialize i

[2019-09-30 16:11] mseng10 opened #143 "SegmentWithWatershedImageFilterTestPython5 failing test"
This issue is derived from #131 to keep track of indivial examples failing tests.

The following tests fail with ITK's latest release:

- SegmentWithWatershedImageFilterTest05Python

- SegmentWithWatershedImageFilterTest05BaselineComparisonPython

The issue arrises on line 76 of src/Segmentation/Watersheds/SegmentWithWatershedImageFilter when the colormapImageFilter object attempts to initialize i

[2019-10-22 02:03] thewtex commented on #131
@mseng10 well done on the detailed and well-researched description!

Until we have the enum's wrapping in ITK's 5.1 Python wrapping, I propose we do not install the pre-release Python packages in the Superbuild here:

  https://github.com/InsightSoftwareConsortium/ITKExamples/pull/146

[2019-11-07 20:57] hjmjohnson commented on #131
@thewtex  Did # 1353 address this completely?

[2019-11-08 21:15] thewtex commented on #131
#1353 addressed the enum issues. We can get the tests passing after 5.1b2 binaries are published.

[2019-12-16 21:32] thewtex commented on #94
These are now all updated.

[2019-12-16 21:32] #94 closed

[2020-03-09 08:31] jhlegarreta opened #154 "Add SyN registration examples"
There is some interest in the community to add SyN registration examples to the [ITK registration examples](https://itk.org/ITKExamples/src/Registration/index.html).

Cross-referencing [ITK discourse post](https://github.com/InsightSoftwareConsortium/ITK/issues/1614) and [ITK repository issue 1614](https://github.com/InsightSoftwareConsortium/ITK/issues/1614).

May be this could also be added as a

[2020-03-09 08:32] jhlegarreta commented on #154
@zhang-qiang-github you are more than welcome to contribute with an example.

Community members will be happy to guide and help you through the process !

[2020-05-06 22:52] mseng10 commented on #143
Fixed in #156. Closing now.

[2020-05-06 22:52] #143 closed

[2020-05-06 22:52] mseng10 commented on #142
Fixed in #156. Closing now.

[2020-05-06 22:52] #142 closed

[2020-05-06 22:52] mseng10 commented on #141
Fixed in #156. Closing now.

[2020-05-06 22:52] #141 closed

[2020-05-06 22:52] mseng10 commented on #140
Fixed in #156. Closing now.

[2020-05-06 22:52] #140 closed

[2020-05-06 22:52] mseng10 commented on #131
Fixed in #156. Closing now.

[2020-05-06 22:52] #131 closed

[2020-05-06 22:52] mseng10 commented on #139
Fixed in #156. Closing now.

[2020-05-06 22:52] #139 closed

[2020-05-06 22:53] mseng10 commented on #138
Fixed in #156. Closing now.

[2020-05-06 22:53] #138 closed

[2020-05-18 19:14] mseng10 opened #159 "Configure module to adhere to new GitHub Actions"
This issue contains the actions needed for this module in relation to it's parent issue [here](https://github.com/InsightSoftwareConsortium/ITK/issues/1828). This will require the following changes:

- [x] Remove Azure Pipeline testing and update README
- [x] Import GitHub Actions configuration files and implement them into ITKExamples. Also, update the README with the GitHub Actions badge.
- [x]

[2020-05-19 03:13] thewtex commented on #159
@mseng10 thanks for taking this on :pray:

Cross-platform builds for the examples is a good way to get started.

After the build are working, good next steps are to add documentation builds (bring in #97).

Then, add also a website deploy preview, e.g. with Netlify.

  https://github.com/netlify/actions

[2020-06-02 01:50] thewtex opened #163 "Re-enable AdaptiveHistogramEqualizationImageFilter Python test"
These were disabled in #162 related to the ITK 5.1.0 release. Re-enable once they are available again in the ITK Python package.

[2020-06-26 23:52] mseng10 opened #165 "New warnings generated from recent documentation changes"
I am trying to complete #160 and I have all builds passing except for the Documentation build. Currently there are roughly 200 compiler warnings being generated from the recent changes. I have fixed most of them except for the following 2:

1. `WARNING: Duplicate declaration` - This warning is being called when the `..breathelink` attempts to link a class. This has no affect on its functionality,

[2020-06-27 14:38] jhlegarreta commented on #165
@mseng10 thanks for this effort !

As for the first issue, maybe you already had a look at [this](https://github.com/sphinx-doc/sphinx/issues/4820), but mentioning it just in case. There are a few issues/PRs cross-referenced, and it may not be straightforward to find the fix through them, but may be worthwhile having a look.

As for the second one, maybe this and the linked and merged PR give some

[2020-07-26 21:42] jhlegarreta opened #178 "MutualInformationAffine example failing"
**Description**

CIs are reporting a failure for the `MutualInformationAffineTest`:
https://github.com/InsightSoftwareConsortium/ITKExamples/runs/910067190?check_suite_focus=true

or here
https://github.com/InsightSoftwareConsortium/ITKExamples/runs/910067205?check_suite_focus=true

The log of the former reads:
[code]

The output image as displayed in the examples site does not seem satisfactory:

[2020-07-26 21:44] jhlegarreta commented on #178
Related to the way in which baselines are specified, wondering if there was a transition towards a given syntax at some point that has not been completed, e.g. another example of specifying the baselines in the tests:
https://github.com/InsightSoftwareConsortium/ITKExamples/blob/master/src/Filtering/ImageGradient/CMakeLists.txt

Maybe a separate issue would be best to keep track of this.

[2020-07-26 21:47] jhlegarreta opened #179 "Submodules ordering on the examples site"
**Description**
The ITK examples index seems not to be ordered alphabetically at the submodule level
https://itk.org/ITKExamples/src/index.html

Although a search box exists, and the browsers search tool can be used to look for the module of interest, I'd dare to say that it would be nice if the submodules were ordered alphabetically.

[2020-07-27 19:35] thewtex commented on #178
Since this example looks to have come from the ITK Software Guide, I am wondering there is a version in the ITK repository that has been updated?

[2020-07-27 20:32] jhlegarreta commented on #178
You are right @thewtex, from the LaTeX-related comments we can conclude that this was an ITK Software Guide example at its origin:
https://github.com/InsightSoftwareConsortium/ITK/commits/master/Examples/RegistrationITKv4/ImageRegistration2.cxx

There are differences when having a close look at both examples. Also, the input images are different.

And another look at the example, [this line](https

[2021-01-29 15:06] mseng10 commented on #165
Fixed in #185

[2021-01-29 15:06] #165 closed

[2021-02-04 17:24] #113 closed

[2021-02-04 17:25] dzenanz commented on #8
Is this still relevant?

[2021-02-04 17:26] dzenanz commented on #7
Superseded by migration to GitHub.

[2021-02-04 17:26] #7 closed

[2021-02-04 17:27] dzenanz opened #190 "Do not output pixel values"
Outputting pixel values it tests should probably not be done for images bigger than maybe 100 pixels, as it swamps the log file making failures hard to find.

[2021-02-04 21:53] thewtex commented on #8
XTK -> itk-vtk-viewer

[2021-02-09 15:35] mseng10 opened #191 "Update Superbuild"
## Description
Presently, if someone attempts to utilize the Superbuild, they will not be able to get a clean build to occur. All of its dependencies need to pull their most up-to-date versions. This will likely create many build errors for examples that utilize VTK and/or OpenCV as they have not been tested in the CI. This will require the following:

- [x] ITK `v5.2.1`
- [x] VTK `9.0.1`
- [ ] Op

[2021-02-10 21:44] jhlegarreta opened #195 "Dashboard submission page Sphinx syntax not being rendered correctly"
The [Dashboard submission page](https://itk.org/ITKExamples/Documentation/Contribute/DashboardSubmission.html) does not render correctly the
[code]
bash code blocks.

Also, the backward slashes in the commands concerning Windows systems are being stripped.

Source file: [here](https://github.com/InsightSoftwareConsortium/ITKExamples/blob/master/Documentation/Contribute/DashboardSubmission.rst).

[2021-02-15 14:13] tbirdso commented on #178
The `MutualInformationAffine` example has been temporarily disabled from being built with ITKExamples as of [PR 197](https://github.com/InsightSoftwareConsortium/ITKExamples/pull/197), but an investigation of example parameters is still needed before we can re-enable the example and resolve the CI failure.

The `MutualInformation` example is worth considering in the investigation as well, as the e

[2021-02-17 20:48] thewtex opened #199 "Use idiomatic Python throughout the examples"
To improve example readability and improve familiarity to Pythonistas, we should use idiomatic Python throughout the examples. In the past we had tried to keep the C++ and Python similar, but it is evident that this is less useful than idiomatic Python that people will use in practice.

This means:

- Using `snake_case` instead of `camel_case` for variable names
- Not using type declarations, unle

[2021-02-17 21:35] jhlegarreta commented on #199
:+1: to this.

@thewtex Probably?

Using `snake_case` instead of `camelCase` for variable names

[2021-02-18 15:01] thewtex commented on #199
Good catch -- corrected.

[2021-02-19 03:47] #178 closed

[2021-02-23 16:29] tbirdso opened #201 "Nightly documentation updates failing"
# Overview
The documentation at [https://itk.org/ITKExamples/](https://itk.org/ITKExamples/) is listed as being last updated on November 27, 2020 and does not reflect recent example updates and fixes.

## Expected behavior
[Public documentation](https://itk.org/ITKExamples/) is built and deployed nightly.

## Observed behavior
Build issue with `git-lfs`:

fatal: The remote end hung up unexpectedly

[2021-02-24 17:34] thewtex commented on #201
Checking the build system, it did not have the required `six` package. #202 attempts to resolve this.

[2021-02-24 17:36] thewtex opened #203 "Set up nbmake for notebook testing"
See https://github.com/treebeardtech/nbmake

@tbirdso for testing, due to permission constraints with GitHub actions, please push the PR to this repository instead of your fork.

[2021-02-24 17:38] thewtex opened #204 "Set up nbsphinx to generate notebook output in Sphinx"
See: https://github.com/spatialaudio/nbsphinx

#203 should be set up first, and the output can hopefully be used.

CC: @jcfr

[2021-02-25 17:07] tbirdso commented on #201
[Dashboard](https://open.cdash.org/build/7065262) shows 1 build error:

No matching distribution found for itk\>=5.2rc2

[2021-02-25 17:18] jhlegarreta commented on #201
`itk 5.2.rc2` is [still in pre-release](https://pypi.org/project/itk/#history). If these need to be tested, the `--pre` flag needs to be provided to `pip install`.

[2021-02-25 17:55] tbirdso commented on #201
Thanks @jhlegarreta . I've added the flag in [PR 207](https://github.com/InsightSoftwareConsortium/ITKExamples/pull/207).

[2021-02-25 21:23] #191 closed

[2021-02-25 21:45] #203 closed

[2021-02-26 16:50] mseng10 opened #212 "Inconsistent Output Baseline Comparisons"
## Description
After fixing a number of failing tests in the recent weeks, I came across some inconsistencies in the baseline test cases. Essentially, all of the baseline comparisons that compare an image without the name `OutputBaseline`, are incorrectly comparing results. An example can be found in the `AddNoiseToBinaryImageTestBaselineComparison`, which produces:
[code]
-------------

As shown

[2021-02-26 19:10] dzenanz commented on #212
We can set a deterministic seed in the examples which have some pseudo-randomization. Together with setting the number of work units to 1 it should produce a deterministic output.

[2021-02-26 20:35] #159 closed

[2021-03-02 01:46] tbirdso commented on #201
Fixed in [PR 211](https://github.com/InsightSoftwareConsortium/ITKExamples/pull/211). Public ITK Examples page shows successful nightly build:

[2021-03-02 01:46] #201 closed

[2021-03-02 01:53] jhlegarreta commented on #179
@mseng10  looks like the latest builds are still not showing a consistent/alphabetical ordering of the submodules. So not sure if the issue has been solved :-S .

[2021-03-02 17:13] mseng10 commented on #179
@jhlegarreta It appears this is the case. Thank you for catching this. I will reopen the issue and address it in a coming PR.

[2021-03-02 18:20] mseng10 commented on #179
@jhlegarreta @thewtex Should the name for a particular example's directory be the same (or very close) to the header in its respective `documentation.rst`?

This is why some of the submodules contain an indexed list of examples not in alphabetical order. I had ordered them by their subdirectory paths, but when they are indexed in Sphinx, they show the headers of the examples. This subsequently led

[2021-03-02 18:38] mseng10 commented on #179
@jhlegarreta @thewtex Also, there is inconsistency for prepositions and conjunctions in example headers. Some of the examples have them capitalized and some do not. Should these all be changed to adhere to the common rules regarding capitalization in headers i.e. MLA, APA, etc.?

[2021-03-02 19:23] jhlegarreta commented on #179
Thanks for investigating this.

Not sure what is the best way to solve this. Having a descriptive title for what the example actually contains is very helpful and descriptive. Users will usually not see/pay attention to how the folder is called in the code. And what is shown/Sphinx shows is alphabetically ordered, which makes it easy to follow I'd say. At the same time, the shown folder names make

[2021-03-04 16:29] thewtex commented on #179
In terms of the module or example listing order, the seemingly random order is an artifact of the CreateExample script. Currently, when a new example is added, its module and example name is appended at the end of the current contents. The order could be corrected. Maybe the script could be made smarter.

+1 to a consistent capitalization, following MLA, etc.

[2021-03-10 15:21] thewtex opened #220 "List Python example versions before C++ example versions"
More folks use the Python versions versus the C++ versions -- these should come first.

Change,

[code]

to

[code]

Throughout the examples.

[2021-03-11 04:34] thewtex commented on #116
Is this all set? The linter GitHub Action is green.

#224 adds a clang-format pre-commit hook for C++.

Perhaps we should also add a `black` pre-commit hook for Python code? And in the *ITK* repository?

[2021-03-11 04:50] thewtex opened #226 "Use itk::ReadImage and itk::WriteImage"
Use the new functions, `itk::ReadImage` and `itk::WriteImage`, available in ITK 5.2 for simplicity over `itk::ImageFileReader` and `itk::ImageFileWriter` throughout the examples. See https://github.com/InsightSoftwareConsortium/ITKExamples/pull/225
for an illustration of the changes required.

[2021-03-11 08:50] suryanshsangwan commented on #220
Hi, I have made these changes and created a pull request.

[2021-03-11 14:52] #220 closed

[2021-03-11 14:53] dzenanz commented on #220
Awesome, thanks @suryanshsangwan!

[2021-03-11 18:13] jhlegarreta commented on #116
PR #112 changes are too many to check, but the one in #109 has not changed.

Maybe the linter GitHub Action only acts on modified code, not the whole repository, and I guess that will be the case for the clang-format pre-commit hook, which are both very nice :100: additions.

I'm afraid these files will need a manual check/edition.

Yes, I fully agree that adding a `black` pre-commit hook both for

[2021-03-11 18:55] #179 closed

[2021-03-11 19:04] Leengit opened #229 "COMP: Needs to #include <iostream> on some systems."
On my set up with Ubuntu 20.04, gcc 10.2.0, and current ITK master branch (38dec0a2ce84ebb506f9061f3e5bbe3c77c07cd6), compiled with
[code]
four files complain that they need
[code]

They are
[code]

[2021-03-11 20:32] jhlegarreta commented on #179
@mseng10 hats off to the tremendous work in PR #228. Thanks also to @thewtex.

[2021-03-12 13:57] jhlegarreta commented on #229
Indeed they've appeared on a build of the dashboard:
https://open.cdash.org/viewBuildError.php?buildid=7093867

[2021-03-12 15:06] thewtex commented on #116
@jhlegarreta I went through and ran clang-format on all C++ sources, and we are in good shape! :tophat:

#230 adds Python style pre-commit hook / linting.

[2021-03-12 15:06] #116 closed

[2021-03-12 15:43] jhlegarreta commented on #116
Wonderful Matt. Thanks.

[2021-03-12 20:36] #229 closed

[2021-03-15 17:31] tbirdso opened #234 "Linting fails on PRs from forked repos"
## Summary
`lint` check passes on local checks in forked repo but fails in PR to dest repo due to annotation permissions.

Example: `nbsphinx` lint check [passes in fork](https://github.com/tbirdso/ITKExamples/runs/2114762761) but [fails in PR](https://github.com/InsightSoftwareConsortium/ITKExamples/pull/213/checks?check_run_id=2114767831).

## Expected behavior
Linting check passes for all valid

[2021-03-15 18:05] tbirdso commented on #234
@thewtex did you see this behavior in [6dd94077](https://github.com/InsightSoftwareConsortium/ITKExamples/commit/6dd940777a3a6734c536096558b382faeaea2002)?

[2021-03-15 20:52] thewtex commented on #234
@tbirdso thanks for the note -- I had not encountered this, yet.

#235 attempts to address it.

[2021-03-15 23:27] jcfr opened #236 "Create example of plugin for napari viewer"
Anticipating the [Alfa Cohort Showcase](https://chanzuckerberg.github.io/napari-plugin-alfa-cohort/) that will take place on `Thursday, April 29th, 2021 from 8:00AM-1:00PM, Pacific Time (PT)`, it could make sense to develop a skeleton of ITK based plugin for napari viewer that would enable the use of ITK python.

Relevant references:
* https://napari.org/docs/dev/plugins/index.html

[2021-03-16 02:07] thewtex commented on #236
@ViktorvdValk has a WIP napari plugin for [`itk-elastix`](https://github.com/InsightSoftwareConsortium/ITKElastix). We could add a pointer to this along with a reference "hello world" type example.

[2021-03-16 02:40] thewtex opened #237 "Enable JSPCD linting"
Turn on `VALIDATE_JSCPD` in the [super-linter GitHub Action](https://github.com/github/super-linter) and address the issues it finds. Current output:

[code]

[2021-03-17 12:07] #234 closed

[2021-03-17 14:53] aylward opened #238 "Rename ITKExamples repository to ITKSphinxExamples"
Consider renaming to match the name and directory structure used within ITK

[2021-03-17 15:08] tbirdso opened #239 "Add CI for macOS and Windows documentation"
Issue to track [PR 218](https://github.com/InsightSoftwareConsortium/ITKExamples/pull/218).

## Current behavior
CI successfully builds and publishes documentation for Ubuntu 18.04

## Desired behavior
CI successfully builds documentation for Windows, Ubuntu, and macOS platforms. Publishes documentation from Ubuntu 18.04 build only.

## Outstanding issues
Doxygen build fails:

2021-03-17T12:45:30.

[2021-03-17 15:11] tbirdso commented on #239
Compare with other builds:
- build-test-cxx (Windows): Does not download ITKDoxygen (not building documentation)
- build-test-documentation (Ubuntu) on `master` branch: Succeeds in obtaining DoxygenXML

[2021-03-17 15:38] thewtex commented on #238
- [ ] Repository renamed on GitHub
- [ ] Update naming references in ITKSphinxExamples repository
- [ ] Update naming references in the ITK
- [ ] Update naming references in the ITKSoftwareGuide repository

[2021-03-17 15:43] phcerdan opened #241 "Update name of VTK components to be aware of VTK 9.0 changes."
[code]

This should be solved prepending `vtk` string to modules if the VTK version is less than 9.0

[2021-03-17 15:46] thewtex commented on #241
@aylward @melrobin discussed running into this today, too.

[2021-03-17 16:27] tbirdso commented on #239
Seeing new issue in Windows `build-test-cxx` and `build-test-documentation`:

2021-03-17T16:18:44.5436010Z MakeCommand:D:\a\_temp\-575274851\cmake-3.18.3-win64-x64\bin\cmake.exe --build . --config "Release"
2021-03-17T16:18:44.5437362Z Run command: "D:\a\_temp\-575274851\cmake-3.18.3-win64-x64\bin\cmake.exe" "--build" "." "--config" "Release"
2021-03-17T16:18:44.5681144Z ninja: error: loading 'bui

[2021-03-17 16:50] thewtex commented on #241
xref: https://github.com/InsightSoftwareConsortium/ITKSphinxExamples/pull/242

[2021-03-17 17:04] tbirdso commented on #239
Issue root is actually several lines earlier:

  Examples source directory to a shorter path.

[2021-03-17 18:17] melrobin opened #250 "ITK build problems with Sphinx Examples"
When building ITK with BUILD_EXAMPLES and BUILD_DOCUMENTATION turned on I receive the following error:
CMake Error at Examples/SpatialObjects/CMakeLists.txt:27 (add_executable):
  add_executable cannot create target "LineSpatialObject" because another
  target with the same name already exists.  The existing target is an
  executable created in source directory
  "/home/melrobin/packages/ITK/Modul

[2021-03-17 18:21] thewtex commented on #250
Perhaps we should rename the sphinx example to `CreateALineSpatialObject` or similar.

[2021-03-17 18:52] tbirdso commented on #239
Error in `build-test-documentation` (Ubuntu):

2021-03-17T18:48:58.8750093Z FAILED: CMakeFiles/gitstats
2021-03-17T18:48:58.8753625Z cd /home/runner/work/bld && /home/runner/work/_temp/685782585/cmake-3.18.3-Linux-x86_64/bin/cmake -P /home/runner/work/bld/Utilities/SphinxExtensions/RunGitStats.cmake
2021-03-17T18:48:58.8754896Z CMake Error at Utilities/SphinxExtensions/RunGitStats.cmake:20 (messag

[2021-03-17 18:57] tbirdso commented on #239
From `RunGitStats.cmake.in`:

  --rst "@ITKExamples_SOURCE_DIR@"
  "@ITKExamples_BINARY_DIR@/Documentation/gitstats"
  WORKING_DIRECTORY "@ITKExamples_BINARY_DIR@"

[2021-03-18 13:47] #241 closed

[2021-03-18 13:47] #238 closed

[2021-03-18 19:28] brad-t-moore opened #259 "compare_to_baseline in parent directory CMakeLists.txt"
Is there a reason why the cookiecutter generates compare_to_baseline() calls for a new example in the parent directory's CMakeLists.txt and not the CMakeLists.txt of the example itself?  I just got through a bit of a run around trying to figure how and where these additional tests were being made.  In my case, my example didn't generate an image baseline to compare against, and so this was causing

[2021-03-18 22:36] dzenanz commented on #259
Parent directory is built as part of ITKExamples, so it has access to all the CMake machinery. The example directory can be taken out of the hierarchy and it should still configure and compile, all while being simple.

[2021-03-19 17:49] #250 closed

[2021-03-19 22:25] melrobin opened #262 "ITK Examples: Filtering an Image"
Can anyone confirm that ImageFilter.h does not exist in ITK 5.2?

If this is the case then the example here: https://itk.org/ITKExamples/src/Core/Common/FilterImage/Documentation.html

will not work.

I want to rewrite this example, but wanted to make sure that there is a valid error in this example and not just operator error.

[2021-03-20 13:26] jhlegarreta commented on #262
@melrobin thanks for taking care of this. Not sure if an `ImageFilter.h` has ever existed in ITK. However, the class exists in the [ITKSphinxExamples source tree](https://github.com/InsightSoftwareConsortium/ITKSphinxExamples/blob/master/src/Developer/ImageFilter.h) (added in [this commit](https://github.com/InsightSoftwareConsortium/ITKSphinxExamples/commit/06166b7c1c1078f577f6a400160d935b05103e1

[2021-03-20 13:39] jhlegarreta opened #264 "Sort install files consistently"
The file list saved to the `FILES` variable to be provided to the CMake `install ` command should follow the same sorting convention to improve the consistency and readability of the `CMakeLists.txxt` files.

Currently we find both instances:
[code]
and
[code]

It probably makes sense to group together or list consecutively all source code files (second instance) and have `CMakeLists.txt` either a

[2021-03-21 13:54] jhlegarreta opened #265 "Improve the class listing in "Subclassed by""
The list of classes that appears in the "Subclassed by" section of the examples contains a variable number of elements, depending on whether the class or classes demonstrated is/are a superclass of other classes. In some cases, this list can be very long, e.g.
https://itk.org/ITKExamples/src/Core/Common/FilterImage/Documentation.html, and the readability is low.

If possible, some changes might im

[2021-03-21 14:47] jhlegarreta opened #266 "Duplicate declaration warnings on dashboard"
The `Linux Examples Documentation` build of the Insight dashboard:
https://open.cdash.org/viewBuildError.php?type=1&buildid=7112107

is signalling duplicate declaration warnings for the classes that are marked as being demonstrated in each example's `Documentation.rst` file with the `.. breathelink:: ` tag:
e.g.
[code]

Not sure why this is being reported. Also, the build seems not to trigger nigh

[2021-03-22 17:44] thewtex commented on #262
I think @jhlegarreta is right. Perhaps we replace ImageFilter.h with one of the `itk::ImageToImageFilter` classes?

[2021-04-02 17:24] brad-t-moore opened #270 "Fix bug in IterateRegionWithAccessToIndexWithoutWriteAccess"
https://github.com/InsightSoftwareConsortium/ITKSphinxExamples/blob/fd2b39b4d652d89e9a7de53ea1c947cd8a597c30/src/Core/Common/IterateRegionWithAccessToIndexWithoutWriteAccess/Code.cxx#L54-L64

I'll submit a bug fix after I get my first PR through.  This ignores the set region and uses LargestPossibleRegion(), resulting in the entire image being output line per pixel during CI testing (in the logs).

[2021-04-02 17:27] dzenanz commented on #270
I think there might be other instances of cluttering the logs.

[2021-04-02 17:38] brad-t-moore commented on #270
Well, this one test takes up 80% of the entire log.

[2021-04-02 17:39] dzenanz commented on #270
Uh-uh, I guess everyone before you was being fooled by this seemingly small region definition:
https://github.com/InsightSoftwareConsortium/ITKSphinxExamples/blob/fd2b39b4d652d89e9a7de53ea1c947cd8a597c30/src/Core/Common/IterateRegionWithAccessToIndexWithoutWriteAccess/Code.cxx#L45-L46

[2021-04-02 17:42] brad-t-moore commented on #270
Yeah, I think it was meant to use that defined region, and another similarly named test uses the region correctly.

[2021-04-27 14:36] dzenanz commented on #21
Python 3.3 support has long been dropped. If I remember correctly, `CreateNewExample` works with current versions of Python.

[2021-04-27 14:36] #21 closed

[2021-05-18 14:36] thewtex opened #281 "Site and Page navigation buttons do not work"
These dropdown menus no longer work. Perhaps due to changes in Sphinx or Jinja??

[2021-06-02 18:21] #270 closed

[2021-07-02 05:54] josetascon commented on #226
Hi @thewtex,
I would like to contribute. I have a question. Is this desired for all the examples?. If that is the case, should I make individual commits for every example?

For instance, If I check how many example files uses itkImageFileReader there are 212, while itkImageFileWriter 210. It may be convenient to commit per module (Core, Numerics, ...)

I will make a single commit with the example

[2021-07-05 14:20] dzenanz commented on #226
This sounds good. Or change all in one commit. There would be too many commits with one commit per example. #302 is just what we are looking for. This should be done for great majority of the examples. If reader or writer are being used to demonstrate streaming or in some other unusual way, they should be left alone.

[2021-07-06 16:41] josetascon commented on #226
Ok. New commit #303 with changes of examples at src/Core.
I have some notes. Some of comments are just to mention the unchanged, another file changed, some examples without test, and finally some examples that import header files but they are unnecessary.

Unchaged
    * ImportPixelBufferIntoAnImage unchanged because demonstrate filter connection
    * MiniPipeline unchanged because demonstrate it

[2021-07-06 16:55] dzenanz commented on #226
If the includes are unused, they should be deleted. I guess this was created by starting a new example by copying an old one, which had some unnecessary includes.

[2021-07-06 16:57] dzenanz commented on #226
I think it is desirable to update the non-working examples along with the working ones. Unless reading or writing are the problematic part of the example.

[2021-07-06 16:58] dzenanz commented on #226
Perhaps the broken/unindexed examples should be updated in a separate commit?

[2021-07-06 17:26] josetascon commented on #226
I am currently doing this.

[2021-07-06 17:27] josetascon commented on #226
Agree, I am just reporting those for now.

[2021-07-06 17:31] josetascon commented on #226
Got it, I will include them in #303

[2021-07-09 21:04] thewtex commented on #226
@josetascon thank you for your contributions! :pray:

[2021-07-09 21:09] josetascon commented on #226
I am happy to help.

[2021-07-14 06:22] josetascon commented on #226
New commit #305.
The notes.

Unchaged:
src/Filtering/ImageGrid/ChangeImageOriginSpacingOrDirection/Code.cxx unchanged because use image reader to demonstrate update information

Missing compiled binary (cmake) and without test files:
src/Filtering/ImageStatistics/ComputePCAShapeFromSample/Code.cxx
src/Filtering/Convolution/NormalizedCorrelation/Code.cxx
src/Filtering/Convolution/ColorNormalizedCor

[2021-07-21 23:10] josetascon commented on #226
New commit #306.
The notes:

Missing compiled binary (cmake) and without test files:
src/Segmentation/KLMRegionGrowing/BasicRegionGrowing/Code.cxx
src/Segmentation/ConnectedComponents/LabelConnectComponentsInBinaryImage/Code.cxx
src/Segmentation/RegionGrowing/ConnectedComponentsInImage/Code.cxx
src/Segmentation/Classifiers/KMeansClusterOfPixelsInImage/Code.cxx
src/Segmentation/Classifiers/KMeansCl

[2021-07-26 11:08] josetascon commented on #226
Final commit #307.

The notes:
Unchaged files:
src/IO/ImageBase/ReadAnImage/Code.cxx unchanged because this example show the reader filter
src/IO/ImageBase/WriteAnImage/Code.cxx unchanged because this example show the writer filter
src/IO/ImageBase/RegisterIOFactories/Code.cxx unchanged because use the reader to get different metadata
src/IO/ImageBase/ReadUnknownImageType/Code.cxx unchanged becaus

[2021-07-27 14:31] #226 closed

[2021-09-17 14:24] dzenanz opened #308 "CreateImage does not clear the buffer"
A search for `image->Allocate();` has 149 hits while `image->FillBuffer(` has 64 hits. The instances of `Allocate` not followed by a `FillBuffer` should be examined, and probably turned into [image->Allocate(true);](https://github.com/InsightSoftwareConsortium/ITKSphinxExamples/commit/fc491a42151e2dd27f3e98b821d0c2fd35b55b2b#diff-a388a43bc1ceb769184a4daea4a146c73cbe1c5aeaf7003d1c698f51f95f0ad6R113

[2021-11-22 23:50] jeffduda commented on #85
Are there any "unofficial" examples of how to use this filter. I've been trying to use it. I can get a passed python function to get called, but it's unclear (to me) how I can access the input image or set the output image of the filter. https://discourse.itk.org/t/how-to-use-pyimagefilter/4593

[2021-12-27 18:56] dzenanz commented on #266
I think this was resolved meanwhile. Can you confirm Jon?

[2021-12-27 19:02] jhlegarreta commented on #266
I am unable to find recent builds in the dashboard, even going a few days back. So I cannot confirm. But if you feel confident that it has been resolved, please close the issue :+1:.

Thanks for the effort @dzenanz.

[2021-12-27 19:08] dzenanz commented on #266
What kind of build are you looking for? Does today's [CI build](https://github.com/InsightSoftwareConsortium/ITKSphinxExamples/runs/4644062009?check_suite_focus=true) or its [dashboard](https://open.cdash.org/build/7646735) work?

[2021-12-27 19:17] jhlegarreta commented on #266
I was looking at the dashboard regular builds, as the issue report build seemed a regular build that was reporting about the examples documentation builds.

[2021-12-28 19:15] jhlegarreta opened #318 "Increase consistency in `src/Developer` files"
The files in [src/Developer](https://github.com/InsightSoftwareConsortium/ITKSphinxExamples/tree/master/src/Developer) seem to hold some inconsistencies:
- The classes in the `ImageFilterX.*` and `ImageFilterY.*` files should probably be renamed to `ImageFilterX` and `ImageFilterY`. They currently define a class names `ImageFilter`, which is also defined in the `ImageFilter.*` file.
- All files mi

[2021-12-28 21:35] dzenanz commented on #318
I don't think the inconsistency is intentional. Those examples were contributed by various people, so inconsistency arises naturally. Fixing it would be good.

[2022-01-17 19:40] hjmjohnson opened #319 "CMake warnings for SphinxExamples"
### Description

CMAKE Warning
[code]
### Expected coding style

Sphinx Examples should use current coding conventions.

### Actual coding style

CMake warnings are issued.

### Versions

Master branch if ITK 2022-01-17  with SphinxExamples

[2022-01-17 19:49] dzenanz commented on #319
I transferred the issue here, as the problem is in the examples.

[2022-01-17 21:00] tbirdso commented on #319
Commit to reference is [099b562](https://github.com/InsightSoftwareConsortium/ITK/commit/099b5621c8af08c1f8c289d5cb3cac55edf78d14)

Github says the only reference to the deprecated `ITK_NO_IO_FACTORY_REGISTER_MANAGER` is here: [https://github.com/InsightSoftwareConsortium/ITKSphinxExamples/blob/345b1d0dd02f9a3d26238acb1bbf5372841d615f/src/IO/ImageBase/RegisterIOFactories/CMakeLists.txt#L9](https:/

[2022-01-19 13:53] #319 closed

[2022-01-19 14:43] dzenanz commented on #93
Can this be closed now?

[2022-01-19 14:44] #93 closed

[2022-01-20 23:10] thewtex commented on #85
@jeffduda please review this PR: https://github.com/InsightSoftwareConsortium/ITK/pull/3131

[2022-01-28 15:08] thewtex opened #323 "Use pydata-sphinx-theme"
https://pydata-sphinx-theme.readthedocs.io/en/latest/index.html

[2022-03-08 20:07] thewtex opened #324 "Fix documentation CI failure"

[2022-03-08 22:29] tbirdso commented on #324
After updating input/output data directories for [`KeepRegionsAboveLevel`](https://github.com/InsightSoftwareConsortium/ITKSphinxExamples/tree/master/src/Filtering/LabelMap/KeepRegionsAboveLevel) on `data.kitware.com` everything except documentation is passing 🤷‍♂️

Updating the issue title to reflect remaining work.

[2022-03-09 14:39] tbirdso commented on #324
In contrast to CDash reporting, CI logs show that failure occurs at the Doxygen build step:
[code]

I am able to recreate this failure locally, will continue to investigate.

[2022-03-09 16:48] tbirdso commented on #324
From tracing through the doxylink error, it looks like CMake is trying to fetch an archive from `public.kitware.com` which no longer exists:

[DownloadDoxygenTAG.CMake](https://github.com/InsightSoftwareConsortium/ITKSphinxExamples/blob/master/CMake/DownloadDoxygenTAG.cmake)

References broken link: [https://public.kitware.com/pub/itk/NightlyDoxygen/InsightDoxygenDocTag.gz](https://public.kitware.

[2022-03-09 17:18] tbirdso commented on #324
Note that both [https://itk.org/files/NightlyDoxygen/InsightDoxygenDocTag.gz](https://itk.org/files/NightlyDoxygen/InsightDoxygenDocTag.gz) and [data.kitware.com/.../InsightDoxygenDocTag-5.2.0.gz](https://data.kitware.com/#folder/60674c432fa25629b94768fd) appear to be valid archives allowing docs to build successfully. Awaiting word on the appropriate archive to fetch.

[2022-03-09 18:54] dzenanz commented on #324
The first one is the right one.

[2022-03-10 17:13] tbirdso commented on #324
[50 CDash warnings](https://open.cdash.org/viewBuildError.php?type=1&buildid=7718766) are remaining in regards to duplicate linkage at `breathelink` tags:

...

Each warning points to a `:: breathelink` entry in a `.rst` file where other `.rst` files also have `:: breathelink` entry for the same class.

@thewtex Perhaps you could weigh in on whether you think this is an issue in [https://github.co

[2022-03-10 18:52] thewtex commented on #324
@tbirdso perhaps `breathelink` can be improved? Yes, the intention is to have multiple descriptions of the relevant classes in each example where relevant for quick reference. Maybe these warnings are the result of updating Sphinx.

[2022-03-11 13:56] tbirdso commented on #324
This is very possible. The first instance of this warning that I can find is from [February 2nd](https://open.cdash.org/viewBuildError.php?type=1&buildid=7717038), while Sphinx was updated from 3.0.4 to 4.4.0 in [https://github.com/InsightSoftwareConsortium/ITKSphinxExamples/commit/7c77f7953275581dcf11386995aac99c314ee5f2](https://github.com/InsightSoftwareConsortium/ITKSphinxExamples/commit/7c77f

[2022-03-11 16:16] tbirdso commented on #324
Relevant discussion in [breathe issue 378](https://github.com/michaeljones/breathe/issues/378) indicates that the `no-link` option for cpp classes is nonfunctional and the related `noindex` option was actually removed from Sphinx in [https://github.com/sphinx-doc/sphinx/pull/7895](https://github.com/sphinx-doc/sphinx/pull/7895). It seems that `cpp:alias` may be the correct directive to use here as

[2022-03-11 19:02] tbirdso commented on #324
@thewtex @dzenanz  Note that the remaining warnings are about the behind-the-scenes docs structure and should not block the release of documentation as it is currently doing in CI. Is there a CMake/CTest/Github Actions flag that we can use to allow docs CI to ignore warnings (but not errors) and proceed with publishing? Have been unsuccessful in my search for suppressing warnings so far.

[2022-03-11 19:48] tbirdso commented on #324
Note that it looks like this is a duplicate of #266 , with a slightly updated warning message via the Sphinx update to v4.4.0. As the scope of this issue (#324) has changed a couple of times I think it will be best to consolidate discussion in #266. Closing #324 as a duplicate.

[2022-03-11 19:48] #324 closed

[2022-03-11 19:52] tbirdso commented on #266
This issue is still observed. Updating to Sphinx 4.4.0 changed the error message slightly:

Please see #324 for additional investigation notes to date. 50 warnings about duplicate declarations in `breathelink`s are blocking CI from publishing updating docs.

[2022-03-12 00:27] thewtex commented on #266
@tbirdso thanks for the detailed investigation!

It sounds like we should exclude the warnings here:

https://github.com/InsightSoftwareConsortium/ITKSphinxExamples/blob/7c7f794634df774c9b3ee291c598422dc727960c/CMake/CTestCustom.cmake.in#L37-L85

[2022-03-15 20:59] tbirdso opened #328 "`zlib` download fails"
[code]

Per discussion in #327 this may be resolved by forcing `https` in place of `git`.

[2022-03-16 16:45] #328 closed

[2022-03-20 15:39] tbirdso opened #332 "`CTestCustom.cmake` does not affect SuperBuild"
CI should move `CTestCustom.cmake` to the superbuild root directory in order for it to have effect on dashboard reporting.

See discussion in #327.

[2022-03-22 15:20] tbirdso opened #333 "Published Documentation Does Not Match Build Date"
It seems like we are hosting three separate instances of ITKSphinxExamples HTML docs:

[https://itk.org/ITKExamples/](https://itk.org/ITKExamples/): v5.3.0, last updated Jun 16, 2021

[https://examples.itk.org/](https://examples.itk.org/): v5.2.0, last updated Feb 25, 2021

[https://6238eb96d5223a1c5aa1f18c--itkexamples.netlify.app/](https://6238eb96d5223a1c5aa1f18c--itkexamples.netlify.app/): v5.

[2022-03-22 15:25] tbirdso commented on #333
@dzenanz @thewtex Any thoughts on this one? Which of `itk.org/ITKExamples` vs `examples.itk.org` is correct? Do we have console access to the Netlify server to verify whether it is hosting multiple old documentation versions?

[2022-03-22 20:02] tbirdso commented on #333
From discussion with @thewtex we determined:
- The most recent Netlify site is up to date: [https://6238eb96d5223a1c5aa1f18c--itkexamples.netlify.app/](https://6238eb96d5223a1c5aa1f18c--itkexamples.netlify.app/)
- `itk.examples.org` is possibly not being updated due to a conflict with how Netlify expects to build static web pages
- We will move from Netlify to Fleek for publishing the website and

[2022-03-23 13:28] thewtex commented on #333
The Fleek publications will be available on https://itk-examples.on.fleek.co

Additional steps after the Fleek action is set up:

- Set up DNS to point https://examples.itk.org to Fleek.
- Add a redirect from itk.org/ITKExamples to examples.itk.org/

[2022-03-25 12:48] tbirdso opened #335 "HTML build fails with `jinja2` warning"
Raw build log from [docs CI](https://github.com/InsightSoftwareConsortium/ITKSphinxExamples/runs/5680532102?check_suite_focus=true) shows notebook failure:
[code]

CDash reports [1 compiler warning](https://open.cdash.org/viewBuildError.php?type=1&buildid=7814531) but seems to not report the trace above.

Unclear on the underlying cause as I'm not aware of any recent modifications to the notebook

[2022-03-25 13:00] tbirdso commented on #335
Looks like an issue in `jinja2` / `nbconvert`:

[https://github.com/jupyter/nbconvert/issues/1736](https://github.com/jupyter/nbconvert/issues/1736)

See that discussion for version workarounds.

[2022-03-28 15:12] tbirdso commented on #335
Looks like `jinja` issue is resolved, seeing what appears to be an issue with the Fleek API key for deployment:

[code]

[2022-03-28 15:29] tbirdso commented on #335
I stand corrected, the deploy issue in the main branch is here:
[code]

The [fleek Github Actions repo](https://github.com/FleekHQ/action-deploy/blob/master/.fleek.json) contains an example of [`.fleek.json`](https://github.com/FleekHQ/action-deploy/blob/master/.fleek.json).

[2022-03-29 16:27] #335 closed

[2022-03-31 12:58] tbirdso opened #341 "Deploy To Netlify"
Moving from Netlify to Fleek for deployment.

Issues so far:
- no `.fleek.json` (added)
- `.fleek.json` in the wrong path (now copied to workspace root dir)
- cannot cd to `/home/runner/work/site` when setting `workDir` in CI steps (moved site to workspace root dir instead for container access)
- configuration error: 'siteId is required.' in path: /site/id [ [ [] ] ]

[2022-03-31 13:02] tbirdso commented on #341
@thewtex Could you please provide the site ID that we should push to? This will be included in the `.fleek.json` file so that deployment can succeed.

See an example site ID in the Fleek deploy Github Actions repo: [.fleek.json](https://github.com/FleekHQ/action-deploy/blob/master/.fleek.json)

[2022-04-11 15:40] tbirdso opened #342 "Add Python serialization examples"
- Image
- Mesh
- Transform

[2022-04-11 15:41] tbirdso opened #343 "Add `itk.DiscreteGaussianImageFilter` Python example"
[https://examples.itk.org/src/filtering/smoothing/smoothimagewithdiscretegaussianfilter/documentation](https://examples.itk.org/src/filtering/smoothing/smoothimagewithdiscretegaussianfilter/documentation)

[2022-04-11 15:46] tbirdso opened #344 "Add example notebook for interfacing with Numpy"
- Demonstrate initializing a numpy array and converting to ITK image format with `itk.image_from_array` and `itk.image_from_array_view`
- Demonstrate manipulating an ITK image as a numpy array with `itk.array_from_image`
- Demonstrate ITK's KJI notation vs numpy's IJK notation with `itk.size(image)` vs `image.shape`

[2022-04-11 15:46] tbirdso opened #345 "Add `itk.FFTDiscreteGaussianImageFilter` examples"
Similar to [https://examples.itk.org/src/filtering/smoothing/smoothimagewithdiscretegaussianfilter/documentation](https://examples.itk.org/src/filtering/smoothing/smoothimagewithdiscretegaussianfilter/documentation)

With discussion of when to use FFT convolution (large images w/ acceleration) vs sliding window convolution (default)

[2022-04-11 15:48] tbirdso opened #346 "Add visualization example notebook"
- 2D slices with `matplotlib` via `numpy` interface (`plt.imshow(2d_itk_image)`)
- 3D volume with `itkwidgets`

[2022-04-11 15:51] tbirdso opened #347 "Add factory override examples"
Examples for manipulating instantiation via the ITK object factory

[code]

[2022-04-11 16:21] dzenanz commented on #344
I believe that ITK uses IJK and numpy KJI, not the other way around.

[2022-04-11 16:43] Leengit commented on #344
Perhaps we are already thinking along these lines, but just in case ... we may want to go all verbose and say that there are two distinct cases here, depending on whether the "third dimension" represents multiple planes (Z) or time points (T), or represents multiple colors (C, such as R, G, & B).

1. For planes Z and time points T, and _sometimes_ for colors C, the ITK order is `[X, Y, Z]`, `[X, Y

[2022-04-11 16:49] tbirdso commented on #344
@dzenanz Maybe my thinking is backwards. In ITK the fastest element is the first index while in numpy it is the last index. When we say "IJK" is "K" the fastest or slowest index?

[Relevant discourse discussion](https://discourse.itk.org/t/why-to-invert-the-order-of-the-indices-between-numpy-and-simpleitk/809/14)

[2022-04-11 16:51] Leengit commented on #344
In calculus `(x, y, z)` is usually associated with unit vectors `(i, j, k)` respectively.  If that's the convention to stick with then ITK is `[IJK]`.

[2022-04-11 16:53] tbirdso commented on #344
Works for me, updated the description.

[2022-04-11 17:11] tbirdso commented on #341
After discussion with @thewtex we are going back to Netlify. See git history for previous Netlify deployment step to get started.

[2022-05-02 18:55] tbirdso commented on #341
@thewtex Could you please update what steps may be necessary for deployment via Netlify following #348?

I am unclear on what Netlify settings or other steps will need to be updated for each of the following to be automatically updated nightly:
1. [https://itk.org/ITKExamples/](https://itk.org/ITKExamples/) (currently the first search result for ITK Examples)
2. [https://examples.itk.org/](https:/

[2022-05-02 20:20] tbirdso opened #349 "CTest Failures"
Two CTests are failing:

[CDash results](https://open.cdash.org/viewTest.php?onlyfailed&buildid=7888816)

[code]

Failures may be related to recent changes in wrapping for `itk::RegistrationParameterScalesFromPhysicalShift`:
[https://github.com/InsightSoftwareConsortium/ITK/commit/6310d36d351386b90f94ca495da3c89f99fd16ab](https://github.com/InsightSoftwareConsortium/ITK/commit/6310d36d351386b90f94

[2022-05-03 14:59] tbirdso opened #350 "Add `xarray` interface examples"
See `xarray_from_image` and `image_from_xarray`

[https://github.com/InsightSoftwareConsortium/ITK/blob/master/Wrapping/Generators/Python/itk/support/extras.py#L627](https://github.com/InsightSoftwareConsortium/ITK/blob/master/Wrapping/Generators/Python/itk/support/extras.py#L627)

[2022-05-03 15:09] tbirdso opened #351 "Expand "Optimizersv4" Documentation"
Possible classes to highlight:
- [`GradientDescentOptimizerv4`](https://github.com/InsightSoftwareConsortium/ITK/blob/master/Modules/Numerics/Optimizersv4/include/itkGradientDescentOptimizerv4.h)
- [`LBFGSBOptimizerv4`](https://github.com/InsightSoftwareConsortium/ITK/blob/master/Modules/Numerics/Optimizersv4/include/itkLBFGSBOptimizerv4.h)
- [`RegistrationParameterScalesFromPhysicalShift`](https:

[2022-05-03 15:11] tbirdso opened #352 "Add Python convolution examples"
Translate [https://examples.itk.org/src/filtering/convolution/convolveimagewithkernel/documentation](https://examples.itk.org/src/filtering/convolution/convolveimagewithkernel/documentation) into a Python script or Jupyter notebook

[2022-05-03 15:16] tbirdso opened #353 "Add convolution streaming pipeline notebook"
Create a notebook example demonstrating how operations on large image input can be streamed in smaller, manageable chunks. Suggest reading from an .mha image (which supports streaming) and performing at least one convolution stage to demonstrate streaming behavior.

Reference [Stream a Pipeline](https://examples.itk.org/src/core/common/streamapipeline/documentation) and [itkConvolutionImageFilterS

[2022-05-03 15:18] tbirdso commented on #19
Resolved in [https://github.com/InsightSoftwareConsortium/ITKSphinxExamples/commit/66cbdd66c72ec903c52f9be0c2963b69aa33a216](https://github.com/InsightSoftwareConsortium/ITKSphinxExamples/commit/66cbdd66c72ec903c52f9be0c2963b69aa33a216).

[2022-05-03 15:18] #19 closed

[2022-05-03 15:54] tbirdso commented on #349
`RegisterTwoPointSetsTest2DPython` and `RegisterTwoPointSetsTest3DPython` rely on ITK Python PyPI packages for dashboard results and are still failing because the changes in [https://github.com/InsightSoftwareConsortium/ITK/pull/3406](https://github.com/InsightSoftwareConsortium/ITK/pull/3406) have not been released in an ITK Python package yet. Tests are disabled for now and should be revisited o

[2022-05-03 16:00] tbirdso commented on #121
The following returns a vector image
[code]

[2022-05-03 16:52] tbirdso opened #354 "Add 1D FFT examples"
1D FFT filters were (relatively) recently ported from ITKUltrasound to ITK. Would be useful to have an example notebook demonstrating FFT plots (real, imaginary, modulus, phase) along one-dimensional scan lines. Meaningful example data can be taken from ITKUltrasound where one direction represents RF voltage waveform and other directions represent space or time dimensions.

[2022-05-03 16:53] tbirdso opened #355 "Add ITKVideo Python Examples"
ITKVideo wrappings are included in ITK PyPI packages as of v5.3rc02

[release notes](https://github.com/InsightSoftwareConsortium/ITK/releases/tag/v5.3rc02)

[2022-05-03 17:25] tbirdso opened #356 "Add example for Python debugging"
Could include
- `itk.auto_progress(2)` and other verbosity levels
- `itkConfig`
- Tracing with `pdb`

[2022-05-03 18:56] Leengit commented on #353
Maybe it's not quite close enough to be of direct use, but in the context of machine learning and for getting the pixel data into Tensorflow, we do something similar in HistomicsStream.  A large image is read chunk by chunk using large_image.

So you might check out the use of `large_image` starting at
https://github.com/DigitalSlideArchive/HistomicsStream/blob/121ba5fa1cd60aab203f73620f1caf64b936

[2022-05-03 19:01] Leengit commented on #121
If the number of components is known before the file is read and unchanging then it might be better to use `Vector[itk.F,2]`.

[2022-05-03 19:06] tbirdso commented on #121
I had the template wrong, `itk.VectorImage` is useful for vector sizes that are unknown or not explicitly wrapped, you are right. For example we often use 31-component vectors in ITKUltrasound, but `itk.Vector` is only wrapped for small dimensions (2,3,4). I have corrected the snippet above.

[2022-05-04 17:54] thewtex commented on #341
With #348, and an Apache redirect set up for https://itk.org/ITKExamples -> https://examples.itk.org/

Thanks for resolving this @tbirdso !

[2022-05-04 17:54] #341 closed

[2022-05-04 17:54] thewtex commented on #333
Resolved via #341

[2022-05-04 17:54] #333 closed

[2022-05-08 16:40] andinet opened #357 "Error building ITKSphinxExamples using superbuild functionality"
Since I didn't have built or installed in my machine, I tried to build ITKSphinxExamples using superbuild functionality but got the following error.

=================================
5>------ Build started: Project: ITK, Configuration: Debug x64 ------
6>------ Skipped Build: Project: Experimental, Configuration: Debug x64 ------
6>Project not selected to build for this solution configuration
7>-

[2022-05-08 16:52] andinet commented on #357
It looks like the git protocol should be changed to HTTPS

[2022-05-13 15:28] tbirdso opened #359 "Add or update example visuals"
Examples tend to be more compelling and easier to understand when the developer can compare input and output images, and sometimes even interact with the data. A "good first issue" for a contributor could be to choose one of the following examples, read the available code snippet to understand its purpose, and then add one or two visuals to aid in learning.

When selecting visuals to add, consider

[2022-05-13 15:41] tbirdso opened #360 "Fix Documentation Errors"
Several examples visibly note errors in migration, running, or output data. It would be good to address these on a case-by-case basis.

- [ ] [https://examples.itk.org/src/segmentation/connectedcomponents/labelconnectcomponentsinbinaryimage/documentation](https://examples.itk.org/src/segmentation/connectedcomponents/labelconnectcomponentsinbinaryimage/documentation)
- [ ] [https://examples.itk.org

[2022-05-15 14:56] thewtex commented on #359
We should add WebAssembly versions of the examples with [itk-wasm](https://wasm.itk.org) and UI interfaces with itk-vtk-viewer for interactive examples as @oeway has demonstrated with [Kaibu](https://kaibu.org/docs/#/api).

[2022-05-16 12:51] tbirdso commented on #359
xref #8

[2022-05-16 18:24] tbirdso opened #362 "Failure to find classes in `ITKDoxygenTAG/InsightDoxygen.tag`"
CI is failing with 6 warnings from missing TAG file definitions:

[CDash results](https://open.cdash.org/viewBuildError.php?type=1&buildid=7915737)

[code]

CI for [https://github.com/InsightSoftwareConsortium/ITKSphinxExamples/commit/e49dee5b6c515679376da8235c6dd79e99fc755d](https://github.com/InsightSoftwareConsortium/ITKSphinxExamples/commit/e49dee5b6c515679376da8235c6dd79e99fc755d) passed when

[2022-05-16 18:25] tbirdso commented on #362
@thewtex Could you please weigh in if you have time? Is it possible that the TAG file was changed within the past week?

Any CI failure prevents docs from being published and updated automatically.

[2022-05-16 19:42] tbirdso opened #363 "Add notebooks to indexes"
Notebooks currently do not appear in lists of examples and must be accessed through a link in an associated example page. It would be very useful to be able to discover notebook directly from a list of examples for a given module.

[2022-05-16 19:54] thewtex commented on #362
Yes, the tag has content has been updated last week -- now the results from the nightly Doxygen build are being uploaded.

[2022-05-16 20:24] tbirdso commented on #362
Okay, good to know. I wonder if we need to pin to a stable, previous version rather than always grabbing the nightly build?

[`itk::AddImageFilter`](https://github.com/InsightSoftwareConsortium/ITK/commits/master/Modules/Filtering/ImageIntensity/include/itkAddImageFilter.h) was last updated in 2020 and [`itk::Statistics::SampleToHistogramFilter`](https://github.com/InsightSoftwareConsortium/ITK/co

[2022-05-17 09:35] dzenanz commented on #353
Another example to possibly reference is https://github.com/OpenImaging/demos/tree/master/ProcessImageChunks

[2022-05-17 09:47] dzenanz commented on #121
Take a look at https://github.com/InsightSoftwareConsortium/ITK/blob/231ecb7d3dbbb11bc0c60f54a782a4d30f8ec4e2/Wrapping/Generators/Python/Tests/readWriteVLV.py, or even at https://github.com/InsightSoftwareConsortium/ITK/blob/0e84a057ec742bef99b3c42c0802fb0974fe39dc/Modules/Core/Common/wrapping/test/itkVariableLengthVectorTest.py.

[2022-05-18 01:36] thewtex commented on #362
@tbirdso yes, it is a good idea to fix to a version, and update explicitly.

Perhaps a Doxygen version bump is causing these issues.

[2022-05-18 16:48] tbirdso commented on #362
Having trouble reproducing via a clean superbuild on Ubuntu 18.04 with Ninja. The ITK tag file matches the nightly version that docs CI should be using?

[2022-05-18 19:41] thewtex commented on #323
@PaulHax please take a look on Friday

[2022-05-18 19:45] thewtex commented on #362
The tag file linked to on ITK's Doxygen is generated nightly with the nighly `master` version of ITK. If we are building against nightly `master` ITK in Examples CI (was true before, not sure about the current status), then this would make sense to have all the updated definitions of ITK classes. However, it is better to use a fixed version, #365, with older definitions, if tag parsing etc. need t

[2022-05-18 19:48] tbirdso commented on #362
@thewtex Docs CI builds against the default ITK commit tag set in the ITKSphinxExamples superbuild configuration, which appears to be e801e637634d1cdf050b358299fd7b3771418f2e. I agree that ideally it would be best to use the same tag and ITK doxygen version as a mismatch could lead to issues, which may be a cause of what we're seeing here. Since docs seem to build adequately when reverting to v5.2

[2022-05-20 13:34] tbirdso opened #371 "Migrate Examples from ITK repository to ITKSphinxExamples"
Reference TODO list at [https://github.com/InsightSoftwareConsortium/ITKSphinxExamples/blob/master/ITKRepositoryImport.todo](https://github.com/InsightSoftwareConsortium/ITKSphinxExamples/blob/master/ITKRepositoryImport.todo)

[2022-05-20 14:57] tbirdso commented on #360
Several examples are also commented out in CMakeLists.txt so that they are not built. These should be revisited and repaired.

[https://github.com/InsightSoftwareConsortium/ITKSphinxExamples/blob/master/src/Segmentation/Classifiers/CMakeLists.txt](https://github.com/InsightSoftwareConsortium/ITKSphinxExamples/blob/master/src/Segmentation/Classifiers/CMakeLists.txt)

[2022-05-20 15:08] tbirdso opened #373 "BUG: Example zip archive downloads are absent"
ZIP archives are absent from the server.

[https://examples.itk.org/src/filtering/convolution/colornormalizedcorrelation/ColorNormalizedCorrelation.zip](https://examples.itk.org/src/filtering/convolution/colornormalizedcorrelation/ColorNormalizedCorrelation.zip)

[2022-05-20 18:40] PaulHax commented on #373
Another data point: In a local superbuild of the docs, the `src/filtering/convolution/colornormalizedcorrelation/` directory just has the build `Documentation.html` file.  The directory is *missing* the zip, source, and .rst files.

[2022-05-20 18:42] PranjalSahu commented on #343
https://github.com/InsightSoftwareConsortium/ITKSphinxExamples/pull/375

[2022-05-20 18:43] PranjalSahu commented on #352
PR https://github.com/InsightSoftwareConsortium/ITKSphinxExamples/pull/376

[2022-05-20 18:48] PaulHax opened #377 "Bug: PDF and EPUB links broken"
The download links for PDF and EPUB are 404s:
https://examples.itk.org/documentation/download/

PDF?  Gross.  Remove these links?

[2022-05-20 19:13] jadh4v commented on #371
` ../ITK/Examples/Filtering/GrayscaleFunctionDilateImageFilter.cxx` is covered by PR #374

[2022-05-20 19:49] jadh4v commented on #371
` ../ITK/Examples/IO/RGBImageReadWrite.cxx` next on my list (WIP)

[2022-05-20 20:08] thewtex commented on #377
Agreed -- let's remove them for now.

[2022-05-20 20:08] thewtex commented on #377
#webforthewin

[2022-05-20 20:10] thewtex commented on #373
At least the example I tested with Laryssa and Paul yesterday was working ...

[2022-05-20 20:15] tbirdso commented on #343
Addressed in #372 or #375

[2022-05-23 21:25] #323 closed

[2022-05-23 21:25] #377 closed

[2022-08-22 14:00] jhlegarreta opened #395 "Retrieval of content file(s) failing"
### Description

`build-test-python-superbuild` and `build-test-documentation` CI builds are consistently failing since some time.
https://github.com/InsightSoftwareConsortium/ITKSphinxExamples/actions/workflows/build-test-publish.yml

It looks like there is a SHA512 content file that cannot be retrieved properly
https://github.com/InsightSoftwareConsortium/ITKSphinxExamples/runs/7933591657?check_

[2022-11-03 15:41] tbirdso opened #397 "Fix Broken Links on `examples.itk.org`"
Broken HTML archive download links at https://examples.itk.org/documentation/download/

[2022-11-03 20:04] tbirdso commented on #373
Returning to investigate this issue, the examples in question are disabled in [`src/Filtering/Convolution/CMakeLists.txt`](https://github.com/InsightSoftwareConsortium/ITKSphinxExamples/blob/master/src/Filtering/Convolution/CMakeLists.txt) and therefore their archives are never built.

While issues with individual examples could be resolved so that archive builds are enabled, the more general solu

[2022-11-07 19:10] thewtex commented on #395
Addressed in #398

[2022-11-14 14:30] #373 closed

[2022-11-14 16:48] tbirdso commented on #373
Verified archives for the specified examples are now available for download on `examples.itk.org`

https://examples.itk.org/src/filtering/convolution/colornormalizedcorrelation/documentation

[2022-11-14 23:20] jhlegarreta commented on #395
Closing as #398 has been merged.

[2022-11-14 23:20] #395 closed

[2022-11-19 04:09] yurivict opened #400 "The example BasicRegionGrowing fails to compile"

[2022-11-21 23:34] dzenanz commented on #400
TL;DR This example is broken.

This example [isn't enabled](https://github.com/InsightSoftwareConsortium/ITKSphinxExamples/blob/v5.2.0/src/Segmentation/KLMRegionGrowing/CMakeLists.txt) when I configure the whole repository. The likely reason is that it doesn't build, and from the looks of git history it has been broken ever since it was migrated from the Wiki Examples. The error message on my comp

[2022-11-21 23:35] dzenanz commented on #400
While looking into this, I uncovered https://github.com/InsightSoftwareConsortium/ITKSphinxExamples/pull/401.

[2022-11-22 15:06] dzenanz commented on #397
@tbirdso was this fixed by #399?

[2022-11-28 13:27] tbirdso commented on #397
@dzenanz Partially but not fully, the two "complete examples" archive links still lead to a "Page Not Found", will need to investigate further